<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer__wrapper">
                    <div class="footer__box">
                        © All rights reserved
                    </div>
                    <div class="footer__box">
                        <div class="status__dot pulse"></div>
                        Beschikbaar voor opdrachten
                    </div>
                    <div class="footer__box">
                        <a routerLink="/contact" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>