<svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s
               58 18 88 18 58-18 88-18
               58 18 88 18 v44h-352z"/>
        </defs>
        <g class="waves">
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="6"
                fill="#610EE9"
                fill-opacity="1"/>
                <use
                xlink:href="#gentle-wave"
                x="50"
                y="3"
                fill="#610EE9"
                fill-opacity=".5"/>
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="0"
                fill="#610EE9"
                fill-opacity=".2"/>
            <use y="3" fill-opacity=".5" />
            <use y="6" fill-opacity=".9" />
        </g>
    </svg>
<section class="section about-me" >
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 routerLink="aboutMe"> About me</h2></div>
            <div class="col-md-7">
                <article class="about-me__info">
                    <p><span id="greeting">{{title}}</span> {{aboutMe}}</p>
                </article>
            </div>
            <div class="offset-md-1 col-md-4">
                <aside>
                  <div class="about-me__list">
                    <div class="about-me__row" *ngFor="let item of information">
                        <strong>{{item.first}}</strong>
                        <div>{{item.second}}</div>
                    </div>
                  </div>
                </aside>
            </div>
        </div>
    </div>
    <svg class="bottom"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none">
        <defs>
            <path id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s
               58 18 88 18 58-18 88-18
               58 18 88 18 v44h-352z"/>
        </defs>
        <g class="waves">
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="6"
                fill="#610EE9"
                fill-opacity="1"/>
                <use
                xlink:href="#gentle-wave"
                x="50"
                y="3"
                fill="#610EE9"
                fill-opacity=".5"/>
            <use
                xlink:href="#gentle-wave"
                x="50"
                y="0"
                fill="#610EE9"
                fill-opacity=".2"/>
            <use y="3" fill-opacity=".5" />
            <use y="6" fill-opacity=".9" />
        </g>
    </svg>
</section>