.nav__item2 {
    height: 3.5em;
    color: red;
    margin-bottom: 2em;
    padding-left: .5em;
    padding-right: .5em;
    text-decoration: none;
    transition: opacity .2s cubic-bezier(.55, .085, .68, .53);
    overflow: hidden;
    display: inline-block;

    &:hover {
        .first-up {
            transform: translate3d(0px, -100%, 0px);
        }

        .second-up {
            transform: translate3d(0px, -100%, 0px);
            color: blue;
        }
    }
}

.nav__item-text {
    text-transform: uppercase;
    margin-right: -.1em;
    padding-left: .1em;
    padding-right: .1em;
    font-size: 3.5em;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    text-decoration: none;
    transition: all .2s;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
}