@import '../../styles.scss';

.contact__intro {
    display: flex;
}

.contact__word {
    margin-right: 10px;
    white-space: nowrap;
    display: inline-block;
    opacity: 0;
    transition:  all 1s;
    filter: blur(5px);
}

.fade-in {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}