@import '../styles.scss';
.logo {
    font-weight: bold;
    color: $grey;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    margin-top: -1px;
    transition-duration: 0.4s;
    transition-property: transform;
    transition: all 0.3s;
    opacity: 1;

    &:hover {
        transform: translateY(-2px);
    }
}

.nav__wrapper {
    z-index: 3;
    justify-content: center;
    margin-top: $space-m;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.nav__box {
    background: $bg-grey;
    border: 1px solid $grey;
    width: 46px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    transition-duration: 0.4s;
    transition-property: transform;

    &:last-of-type {
        margin-left: -1px;;
    }

    &:hover {
        cursor: pointer;
    }
}

.box-left {
    transform: translateX(23px);
    background-color: $blue;
    
    .logo {
        opacity: 0;
    }
}

.box-right {
    transform: translateX(-23px);
    background-color: $blue;
}

.overlay {
    z-index:2;
    height:100%;
    width: 100%;
    background: $blue;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    transition:  all 1s;
    filter: blur(5px);
    transform: translateY(-100%);
    position: absolute;
}

.overlay--open {
    display: flex;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0) !important;
    position: fixed;
}

.nav__contact {
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.nav__list {
    padding-left: 0;
    text-align: center;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-bottom: 3em; */
    display: flex;

    @media only screen and (min-width: 768px) {
        text-align: right;
    }
}

.nav__link {
    color: $grey;
    text-decoration: none;
    font-size: 56px;
    font-weight: bold;
}

.nav__small {
    color: $grey;
}

.nav__info {
    color: $grey;
    
    strong {
        margin-bottom: $space-m;
    }

    &:last-of-type {
        margin-top: $space-l;
    }
}

.nav__hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: translateY(-2px);
    }

    span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $grey;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .7s ease-in-out;
        -moz-transition: .7s ease-in-out;
        -o-transition: .7s ease-in-out;
        transition: .7s ease-in-out;
    }

    span:nth-child(1) {
        top: 5px;
    }
      
    span:nth-child(2) {
        top: 15px;
    }
      
    span:nth-child(3) {
        top: 25px;
    }
}

.nav__item {
    transition: opacity .2s cubic-bezier(.55, .085, .68, .53);
    overflow: hidden;
    height: 84px;

    &:hover {
        .first-up {
            transform: translate3d(0px, -100%, 0px);
        }

        .second-up {
            transform: translate3d(0px, -100%, 0px);
            color: white;
        }
    }
}

.nav__text {
    transition: all .4s;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
}


.open {
    span:nth-child(1) {
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    span:nth-child(3) {
        top: 15px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}