<div class="overlay" id="overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-6 nav__contact">
        contact info
      </div>
      <div class="col-md-6">
        <ul class="nav__list">
          <small class="nav__small">menu</small>
          <li class="nav__item"><a class="nav__link" (click)="test()" routerLink="/home">Home</a></li>
          <li class="nav__item"><a class="nav__link" (click)="test()" routerLink="/home#about-me">About me</a></li>
          <li class="nav__item"><a class="nav__link" (click)="test()" routerLink="/resume">Resume</a></li>
          <li class="nav__item"><a class="nav__link" (click)="test()" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="nav">
  <div class="nav__wrapper">
    <div class="nav__box">
      <a href="#">W</a>
    </div>
    <div class="nav__box">
      <div class="nav__hamburger" (click)="test()">=</div>
    </div>
  </div>
  
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>