

// spacing
$space-s: 10px;
$space-m: 20px;
$space-l: 30px;
$space-xl: 45px;

// colors 
$blue: #610EE9;
$grey: #cac4b8;
$bg-grey: #222;

//fonts 
$base-size: 16px;


//components 

.button-stack {
    margin-top: $space-xl;
    display: flex;
    gap: $space-s;
    flex-direction: column;
}

.button {
    z-index: 1;
    color: $grey;
    width: 100%;
    max-width: 20em;
    background: $bg-grey;
    border: .1em solid $grey;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color .2s cubic-bezier(.55, .085, .68, .53);
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;

    transition: opacity .2s cubic-bezier(.55, .085, .68, .53);
    overflow: hidden;
    height: 45px;

    .button__block {
        padding: 0.5rem 0;
        height: 45px;
        transition: all .4s;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
    }

    &:hover {
        .first-up {
            transform: translate3d(0px, -100%, 0px);
        }

        .second-up {
            transform: translate3d(0px, -100%, 0px);
            color: $bg-grey;
            background-color: $grey;
        }
    }
}

// browser reset
body {
    overflow-x: hidden;
    background: $bg-grey;
}

h1,h2,h3,p,small {
    color: white;
}

h2 {
    margin-bottom: $space-l;
}

.section {
    padding: 60px 0;
}

i {
    color: $blue !important; //uit de boze!
    font-size: 40px;
    padding-bottom: $space-s;
}

a {
    text-decoration: underline;
    color: inherit;
}