<section class="section hero">
    <div class="hero__content">
        <img class="hero__img" src="../../assets/man-in-suit.png" alt="image-of-wouter">

        <h1>Wouter van Eden</h1>
        <h2>Data analist</h2>

        <div class="button-stack">
            <a class="button" href="#aboutMe">
                <div class="button__block first-up">About me</div>
                <div class="button__block second-up">About me</div>
            </a>
            <a class="button" routerLink="/contact">
                <div class="button__block first-up">Contact</div>
                <div class="button__block second-up">Contact</div>
            </a>
        </div>
    </div>
</section>

<app-about-me></app-about-me>
<app-what-i-do></app-what-i-do>